/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31.01.2019, 17:25:12
    Author     : Jonathan
*/
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

h1 {
  text-align: center;
  font-size: 1.2em;
  padding-left: 5%;
   padding-right: 5%;
}

#versteckt {        /* this will hide div with id div_id_name */
  object-fit: fill;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: white;
  flex-basis: auto;
    min-height: 0;
}
#angezeigt {        /* this will hide div with id div_id_name */
  display: block;  
  background-color: greenyellow;
}

#videostream{
    position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
    flex-basis: auto;
    
}

#video {
  min-height: 0;
 object-fit: fill;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  flex-basis: auto;
}
